@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Poppins:ital,wght@0,900;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpiriX7Nf49G0BcDAJlmRP5Gn8Fi6Vc2ucuw&usqp=CAU");
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info{
    color: black;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 20px;
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}

.contact-form{
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form{
    flex:1;
}

.contact-form h1{
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box{
    background: black;
    color: white;
    border: none;
    width: calc(50%-10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;    
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form  textarea{
    background-color:black;
    color:white;
    border: none;
    width:100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn{
    float: right;
    background: #2E94E3;
    color:#fff;
    border:none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.3s;
    


}

.contact-form .send-btn-hover{
    background: #0582E3;

}

@media screen and (max-width: 950px){
    .contact-section{
        flex-direction: column;
    }
    .contact-info, .contact-form{
        margin: 30px 60px;
    }
    .contact-form h1{
        font-size: 30px;
    }
    .contact-form .text-box{
        width: 100%;
    }
}


